@model EmployeeVM

<div class="col-sm-4">
    <label>First Name</label> <span class="text-danger">*</span>
    </div>
    <div class="col-sm-8">
        <input asp-for="Person.FirstName" class="form-control mb-2 mr-sm-2" placeholder="">
     </div>
