@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LoginVM
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryManagement.styles.css" asp-append-version="true" />
    <!-- Toaster Alert -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Theme style -->
  @*<link rel="stylesheet" href="~/css/adminlte.min.css">*@

  
<div class="container">
    <div class="row">
        
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            
          <div class="card-body p-4 p-sm-5">
              <div class="text-center fs-3">
                <a><b>Inventory</b>Management</a>
              </div>
            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
            @*@if(TempData["Message"]  !=null){
                <h4 class="alert alert-primary">
                    @TempData["message"]
                </h4>
               }*@
               
            <form asp-action="Login" asp-controller="Account" method="post">
                <p class = "text-danger">@ViewBag.Error</p>
              <div class="form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" autofocus>
                <label for="floatingInput">Email address</label>
                <div><span asp-validation-for="Email" class="text-danger"></span></div>
              </div>
              <div class="form-floating mb-3">
                <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
                <div><span asp-validation-for="Password" class="text-danger"></span></div>
              </div>

              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                <label class="form-check-label" for="rememberPasswordCheck">
                  Remember password
                </label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                  in</button>
              </div>
            </form>
            <a asp-action="Register" asp-controller="Account">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready(function () { 
        console.log(TempData["Message"]);
       if(TempData["Message"]  == "Success") {
          toastr.success('Password Changed Successfully');
       }
       else{ }
    });
</script>


  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>